@font-face {
    font-family: "PALSCRI";
    src: url(../fonts/PALSCRI.TTF);
}

body{
	display: inline-block;
	position: relative;

}



.divs1{
	background-color: #99ffb3;
	align-items: center;
	text-align: center;
	display: inline-block;

}
.divs2{
 	background-color: 	#66ff8c;
 	align-items: center;
 	text-align: center;
 	display: inline-block;
 	


}
img{

	align-items: center;
	text-align: center;
	border-radius-right: 50%;


}
.img1{
	width: 500px;
	height: 700px;
	border-radius: 10%;


}
.menus{
	align-items: center;
	text-align: center;
	border-style:  groove;
	border-color: black;
	position: relative;
	right: 200px;

}

.nav{
	position: relative;
	left: 290px;
}

.heads{
	align-items: center;
	text-align: center;
}

footer{
	background-color:  #cccc99;

}

.select{
	border-style: groove;
	border-color: black;
}


.texto{

	font-family: Comic Sans MS;
	text-decoration: initial;
	text-align: justify;
	color: black;
	
	background-opacity:0.5;
	border-radius: 10%;
	font-size: 16px;

}
.lix{
	

}


.Titular {
	font-family: BKANT;
	color:black;
	font-size: 18px;
}
.Titular:first-letter {

	font-size: 40px;
	font-family: PALSCRI;
	color: #996600;

}